body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #272727;
}
.welcome-scr{
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    padding: calc(25% + 150px);
}
.welcome-scr-form{
    background-color: #272727;
    width: 300px;
    height: 300px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px;
    color: #F97400;
}
.welcome-scr-form-input{
    width: 90%;
    height: 15%;
    padding-left: 5px;
}
.welcome-scr-btn{
    width: 80%;
    height: 10%;
    background-color: #F97400;
    color: #272727;
    border: none;
}
.toolbar{
    height: 76px;
    width: calc(100% - 274px);
    float: right;
    background-color: #272727;
    border: 2px solid #F97400;
    text-align: center;
}
.toolbar p{
    font-size: 35px;
    margin-bottom: 50%;
    color: #fff;
    padding-left: 10px;
}
.toolbar-button{
    float: left;
    margin-left: 250px;
    background-color: #F97400;
    color: #272727;
    border: none;
    margin-top: 9.5px;
    height: 75%;
    width: 76px;
    border-radius: 25%;
}
.toolbar-button:hover{
    background-color: #F99900;
}
.servers-and-user{
    width: 70px;
    background-color: #F97400;
    height: 100%;
    min-height: 100%;
    float: left;
    text-align: center;
}
.server-btn{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    font-weight: bold;
    background-color: #272727;
    color: #fff;
    transition: all 0.3s;
}
.server-btn:hover{
    border-radius: 25%;
}
.channels-list{
    width: 200px;
    height: 100%;
    min-height: 100%;
    background-color: #191919;
    float: left;
    text-align: center;
    color: #fff;
}
.log-out-btn{
    width: 80%;
    height: 25px;
    background-color: #F97400;
    color: #272727;
    border: none;
    border-radius: 3px;
}
.chatting-place{
    min-width: calc(100% - 270px);
    height: calc(100% - 76px);
    text-align: center;
    float: left;
}
.chat-input{
    width: calc(100% - 320px);
    height: 48px;
    position: absolute;
    bottom: 1px;
    left: 270px;
    background-color: #272727;
    border:none;
    border: 1px solid #F97400;
    color: #fff;
    padding-left: 5px;
}
.chat-button{
    background-color: #F97400;
    border: none;
    color: #272727;
    position: absolute;
    bottom: 0px;
    left: calc(100% - 50px);
    height: 50px;
    width: 50px;
}
.chat-button:hover{
    background-color: #F99900;
}
.messages-place{
    width: 100%;
    height: calc(100% - 52px);
    text-align: left;
    overflow: auto;
}
.msg-place hr{
    display: block;
    height: 1px;
    border: none;
    border-top: 1px solid #191919;
}
.messages-place hr{
    color: #F97400;
}
.msg{
    font-size: 20px;
    padding-left: 25px;
    color: #fff;
}
.modal{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: calc(25% + 175px);
    position: fixed;
}
.modal-content{
    height: 350px;
    width: 350px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -87.5px;
    margin-left: -175px;
}
.modal-content input{
    width: 50%;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 20px;
    background-color: #F97400;
    float: left;
}
.modal-content input:hover{
    background-color: #F99900;
}
.create-server{
    text-align: center;
    display: none;
    background-color: #272727;
    color: #F97400;
    height: 350px;
    width: 350px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -87.5px;
    margin-left: -175px;
}
.create-server-input{
    width: 80%;
    height: 10%;
    background-color: #fff;
    border: none;
    color: #272727;
    padding-left: 10px;
}
.new-server-btn{
    height: 10%;
    width: 70%;
    border: none;
    background-color: #F97400;
    color: #272727;
    border-radius: 3px;
}
.new-server-btn:hover{
    background-color: #fff;
}
.join-server{
    text-align: center;
    display: none;
    background-color: #272727;
    color: #F97400;
    height: 350px;
    width: 350px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -87.5px;
    margin-left: -175px;  
}