body{
    height: 100%;
    width: 100%;
    background-image: url('../img/background.jpeg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}
.sign-in-screen{
    text-align: center;
    background-color: rgba(60, 60, 60, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 500px;
    transform: translate(-50%, -50%);

}
.sign-in-screen-txt{
    position: relative;
    color: #fff;
    font-size: 45px;
    font-weight: bolder;
}
.sign-in-icon{
    margin-top: 40%;
}
.sign-in-form{
    float: right;
    width: 450px;
    margin-top: -500px;
}
input{
    width: 80%;
    height: 10%;
    background-color: #272727;
    border: none;
    color: #fff;
    padding-left: 10px;
}
.in-form-txt{
    font-size: 35px;
    color: #F97400;
}
.sign-in-btn{
    background-color: #F97400;
    color: #272727;
    width: 70%;
    border-radius: 3px;
}
.sign-in-btn:hover{
    background-color: #fff;
    color: #272727;
}
.logo-column{
    width:300px;
    height: 500px;
    margin-right: 500px;
    background-color: #F97400;
    float: left;
}
.do-some-account-btn{
    background: none;
    border: none;
    height: 20px;
    width: 150px;
}
.do-some-account-btn:hover{
    color:#F97400;
}